*{
    padding: 0;
    margin: 0;
}

.body{
    background: url(bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body h1{
    position: absolute;
    text-align: center;
    top: 3vh;
}

#scoreBox{
    position: absolute;
    top: 90vh;
    font-size: 25px;
    font-weight: bold;
}

#hiscoreBox{
    position: absolute;
    top: 95vh;
    font-size: 25px;
    font-weight: bold;
}

#board{
    background: linear-gradient(rgb(163, 231, 163), rgb(235, 235, 176));
    width: 75vmin;
    height: 75vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(240, 146, 146), rgb(235, 235, 151));
    border: 2px solid rgb(15, 0, 15);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}